@media (max-width: 600px) {
  .recipe-box img {
    width: 100%;
  }
  .recipe-box {
    min-width: 100vw;
    min-height: 100vh;
  }
  body {
    margin: 0;
  }
}

body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipe-box {
  background-color: hsl(0, 0%, 100%);
  width: 50%;
  padding: 2em;
  margin: 6em;
  border-radius: 10px;
}
.recipe-box img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.lil-text {
  color: hsl(30, 10%, 34%);
  line-height: 1.5em;
}

.preparation-box {
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 1.25em;
  line-height: 2em;
}

.preparation-box span {
  color: hsl(332, 51%, 32%);
  font-size: 1.3em;
  font-weight: 700;
  margin-left: -2em;
}

.ingredients span,
.instructions span {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
  font-size: 1.8em;
  margin-left: -1.45em;
}
.ingredients li,
.instructions li,
.preparation-box li {
  margin-left: -1em;
  padding-left: 1em;
  font-size: 1.1em;
  color: hsl(30, 10%, 34%);
  line-height: 1.5em;
}

.instructions li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}

.nutrition {
  text-align: left;
  margin-top: 2em;
}
.nutrition span {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 2em;
}
.nutrition p {
  color: hsl(30, 10%, 34%);
  font-size: 1em;
  line-height: 1.5em;
}
.nutrition-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1em;
}
.nutrition-table td {
  padding: 0.5em 1em;
  color: hsl(30, 10%, 34%);
}
.nutrition-table td strong {
  color: hsl(14, 45%, 36%);
}
.nutrition-table tr {
  border-bottom: 1px solid hsl(30, 54%, 90%);
}
.nutrition-table tr:last-child {
  border-bottom: none;
}

hr {
  color: hsl(30, 54%, 90%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
